@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
:root{
    --pink:#FF046F;
    --violet:#C63BFA;
}
*{
    font-family: Roboto sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: none;

 }
 ::selection{
    background-color: var(--pink);
    color: #fff;
 }
 html{
    font-size: 62.5%;
    overflow-x: hidden;

 }
header{
    width:96%;
    background: #fff;
    position:fixed;
    top: 2rem; left: 50%;
    transform: translate(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 5rem;
    transition: .2s;

    }
    .header-active{
        top: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);

    }
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin: 0 1rem;

}

header .navbar ul li a{
    color:var(--pink);
    font-size: 2rem;
    transition: .2s;
    
}

header .navbar ul li a:hover,
header .navbar ul li a:active{
    color: var(--violet);
}
header .logo{
    font-size: 2.5rem;
    color:var(--violet) ;
    text-transform: uppercase;
}

header .logo i{
    color: var(--pink);
    padding: 0 .2rem;
}
header .fa-bars{
    display: none;
    font-size: 3rem;
    color: var(--pink);
    cursor: pointer;
}
/* -----------home section---------- */

.home{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(198,59,250,.8),rgba(198,59,250,.8)) ,url(/images/bg-img.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 0;
    position: relative;
}
.home .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding-top: 16rem;
}
.home .content h1{
    font-size: 5rem;
    padding: 0 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}
.home .content p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 25rem;
}
.home .content button{
    font-size: 2rem;
   height: 4rem;
   width: 20rem;
    border: none;
    border-radius: 5rem;
    background: var(--pink);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
   
}

.home .content button:hover{
    letter-spacing: .2rem;
}
.home .box-container{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.home .box-container .box{
    width: 25rem;
    height: 20rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    transition: .2s;
    text-align: center;
}

.home .box-container .box i{
    height: 6rem;
    width: 6rem;
    background: var(--violet);
    border-radius: 50%;
    line-height: 6rem;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin: 2rem 0;
    transition: .2s; cursor: pointer;
}

.home .box-container .box i:hover{
    background: var(--pink);
    color: #fff;
}
.home .box-container .box h3{
    font-size: 2rem;
    padding: 2rem ;
    color: var(--pink);
    transition: .2s;
}
.home .box-container .box p{
    font-size: 1.3rem;
    padding: .7rem 2rem;
    color: #666;

   
    

}




/* media queries */

@media screen and (max-width: 768px){
    
    html{
        font-size: 55%;
    }
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: fixed;
        top:-100rem;
        left: 0;
        width: 100%;
        background: #fff;
        border-radius: 1rem;
       opacity: 0;
 
    }
    
    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
    }
    header .navbar ul li{
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }
    header .navbar ul li a{
        font-size: 3rem;
        display: block;
    }
    header .fa-times{
        transform: rotate(180deg);
        color:var(--violet);
        transition: .2s;
    }
    header .nav-toggle{
        top: 5.5rem;
        opacity: 1;
    }

}